Repository konodioda727/kb_blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, commitlint --edit, next build, prettier -w

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write",
    "commitlint --edit",
    "next build"
  ],
  "**/*.{html,json,css,scss,md,mdx}": ["prettier -w"]
}

🏗️ Refactored building progress
  package.json
Due: prettier -w

✨ 增加modal组件
  .idea/jsLinters/eslint.xml
  components.json
  package.json
  pnpm-lock.yaml
  src/app/(auth)/login/page.tsx
  src/app/(auth)/register/page.tsx
  src/app/(main)/globals.css
  src/app/(main)/layout.tsx
  src/app/(main)/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/common/components/alertDialog/index.tsx
  src/common/components/dialog/index.tsx
  src/common/components/dialog/types.ts
  src/common/components/ui/alert-dialog.tsx
  src/common/components/ui/alert.tsx
  src/common/components/ui/button.tsx
  src/common/components/ui/dialog.tsx
  src/common/components/ui/input.tsx
  src/common/components/ui/label.tsx
  src/common/configs/firebase.config.ts
  src/common/hooks/useDynamic.tsx
  src/common/utils/genKey.ts
  src/common/utils/throttle.ts
  src/common/utils/utils.ts
  src/modules/auth/login.tsx
  src/modules/auth/register.tsx
  tailwind.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, commitlint --edit, next build, prettier -w

🐛 修改data为const
  src/common/components/dialog/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write, commitlint --edit, next build

♻️ 修改data为const
  package.json
Due: prettier -w

🍻 增加lint script
  package.json
Due: prettier -w

🏗️ 添加lint脚本，修改test->commit
  .prettierignore
  commitlint.config.ts
  components.json
  package.json
  pnpm-lock.yaml
  src/app/(main)/globals.css
  src/app/(main)/layout.tsx
  src/app/(main)/page.tsx
  src/common/components/alertDialog/index.tsx
  src/common/components/dialog/index.tsx
  src/common/components/dialog/types.ts
  src/common/components/ui/alert-dialog.tsx
  src/common/components/ui/alert.tsx
  src/common/components/ui/button.tsx
  src/common/components/ui/dialog.tsx
  src/common/components/ui/input.tsx
  src/common/components/ui/label.tsx
  src/common/hooks/useDynamic.tsx
  src/common/utils/utils.ts
  src/modules/auth/register.tsx
  tailwind.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, commitlint --edit, next build, prettier -w

🏗️ 修改build过程
  package.json
Due: prettier -w

Create waka-readme.yml
  .github/workflows/waka-readme.yml
Due: none

Update waka-readme.yml
  .github/workflows/waka-readme.yml
Due: none
